<!DOCTYPE html>
<html lang="en">
  {% load static %}
  {% load icon %}
  {% load bootstrap5 %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
      body::-webkit-scrollbar {
        display: none;
        
      }
    </style>
</head>
<body>
    <!-- navbar start -->
    <nav class="navbar navbar-dark bg-dark text-light ">
      <div class="container-fluid  ">
        <a class="navbar-brand" href="{% url 'seller-list'%}">Wide Chronicles</a>
        
        {% if user.is_authenticated %}
        <!-- canvas  -->
          <a href="{% url 'job-list' %}" class="text-light fw-lighter text-decoration-none fs-6 ">
            Explore Jobs 
          </a>

          <div class="gap-5 d-flex">
            <form class="form-inline my-2 my-lg-0 gap-2 d-flex" method="get" action="{% url 'job-list' %}">
              <input class="form-control mr-sm-2" type="search" placeholder="Search jobs..." name="q" value="{{ request.GET.q }}">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        
          <div class="gap-4 d-flex">
            <a href="#" class="pt-2 text-light">
              <i class="position-relative "> {% icon "mail" %}<span class="position-absolute top-0 end-10 translate-middle-y badge rounded-circle bg-danger p-1 "><span class="visually-hidden">unread messages</span></span></i>
            </a>
            <a href="#" class="pt-2 text-light">
              <i class=" position-relative "> {% icon "bell" %}<span class="position-absolute top-0 end-10 translate-middle-y badge rounded-circle bg-danger p-1 "><span class="visually-hidden">unread messages</span></span></i>
            </a>
          </div>

          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        </div>

        <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

          <div class="offcanvas-header">
            <h5 class="offcanvas-title " id="offcanvasDarkNavbarLabel">Wide Chronicles</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

          <div class="offcanvas-body ">
            <ul class="navbar-nav justify-content-end flex-grow-1 px-2 gap-1 ">
              <li class="nav-item text-center">
                <!-- {% if buyer.profile_pic %} -->
                
                <!-- {% endif %} -->
                <div style="width: 100px; height: 100px;" class="overflow-hidden m-auto rounded-circle">
                  <img src="{{ request.user.buyer.profile_pic.url }}" alt="" class="object-fit-cover w-100 ">
                </div>
                <a class="nav-link active" aria-current="page" href="#"> {% icon "user" %} {{ user.username}}</a>
                <div class="text-center fw-lighter">
                  {% if request.user.role %}
                        {{ request.user.role }}
                      {% else %}
                          <a href="{% url 'handle-login' %}">
                              <div >Set Your account Option here</div>
                          </a>
                  {% endif %}
                </div>
              </li>
              {% if request.user.role == "Seller"%}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> {% icon "user" %}  Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> {% icon "bar-chart-2" %}  Ayalytics</a>
                  </li>  
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> {% icon "coffee" %}  My Proposals</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> {% icon "package" %}  Orders</a>
                  </li>  
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> {% icon "settings" %}  Account Settings</a>
                  </li> 
                  <li>
                  <form class="justify-content-center" action="{% url 'account_logout' %}" method="post">
                    {% csrf_token %}
                    {% icon "log-out" %}<button class="btn text-light " type="submit">Logout</button>
                  </form>
                  </li>
                {% elif request.user.role == "Buyer"  %}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> {% icon "user" %}  Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> {% icon "bar-chart-2" %}  Ayalytics</a>
                  </li>  
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{%  url 'job-create'%}"> {% icon "coffee" %}  Post a Request</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> {% icon "edit-2" %}  My Jobs</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> {% icon "package" %} My Orders</a>
                  </li>  
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> {% icon "settings" %}  Account Settings</a>
                  </li> 
                  <li>
                  <form class="justify-content-center" action="{% url 'account_logout' %}" method="post">
                    {% csrf_token %}
                    {% icon "log-out" %}<button class="btn text-light " type="submit">Logout</button>
                  </form>
                  </li>
              {% endif %}
              
            </ul>


          </div>
           <!-- canvas footer -->
          <!-- <div class="offcanvas-footer">
            
              <form class="justify-content-center" action="{% url 'account_logout' %}" method="post">
                  {% csrf_token %}
                <button class="btn btn-outline-success" type="submit">Logout</button>
              </form>
            
          </div> -->
          <!-- end of canvas footer -->
        </div>

        {% else %}
          
        <div class="d-grid gap-3 d-flex justify-content-md-end ">
          <a href="{% url 'job-list' %}" class=" p-2 text-light  fw-lighter text-decoration-none">
            Explore Jobs 
          </a>
          <a href="{% url 'account_login' %}">
            <button type="button" class=" btn btn-close-white" >LOGIN</button>
          </a>
          <a href="{% url 'account_signup' %}">
            <button type="button" class="btn btn-success " >SIGNUP</button>
          </a>
        </div>
        {% endif %}

      </div>
    </nav>

      <!-- nabar end  -->
    <div class="container ">
      
    {% block content %}

    {% endblock content %}
    </div>


</body>
</html>