{% extends 'jobs/_base.html' %}
{% load crispy_forms_tags %}
{% load icon %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Apply for Job</h2>

    <form method="post" class="border p-4 rounded shadow-sm">
        {% csrf_token %}
        <div class="form-group mb-3">
            {{ form|crispy }}
        </div>
        <button class="btn btn-success" type="submit">
            {% icon 'check-circle' %}
            Apply
        </button>
    </form>
</div>
{% endblock %}
