{% extends 'jobs/_base.html' %}

{% block content %}
    <h1 class="text-center pt-3"> User Details </h1>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="card">
            <!-- Upper banner image -->
            <div class="upper">
                <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid" alt="Banner">
            </div>

            <!-- buyer's profile picture -->
            <div class="user text-center">
                <div class="profile">
                    {% if buyer.profile_pic %}
                    <div style="width: 80px; height: 80px;" class="overflow-hidden m-auto rounded-circle"><img src="{{ buyer.profile_pic.url }}" class="object-fit-cover w-100 " alt="{{ buyer.name }}"></div>
                        
                    {% else %}
                        <img src="https://via.placeholder.com/80" class="rounded-circle" width="80" alt="Default Profile">
                    {% endif %}
                </div>
            </div>

            <!-- buyer information -->
            <div class="mt-5 text-center">
                <h4 class="mb-0">{{ buyer.name }}</h4>
                <span class="text-muted d-block pb-5">{{ buyer.tagline }}</span>

                

                <!-- Stats section -->
                <div class="d-flex justify-content-between align-items-center mt-4 px-4">
                    <div class="stats">
                        <h6 class="mb-0">Total Bid Placed</h6>
                        <span> 0</span>
                    </div>
                    <div class="stats">
                        <h6 class="mb-0">Completed Projects</h6>
                        <span>0</span>
                    </div>
                    <div class="stats">
                        <h6 class="mb-0">Total Earnings</h6>
                        <span>0</span>
                    </div>
                </div>

                <hr>

                <!-- buyer bio -->
                <p>{{ buyer.bio }}</p>
            </div>
        </div>
    </div>

{% endblock content %}
