{% extends 'jobs/_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    
    {% if form.instance.pk %}
        <!-- This means the form is being used to update an existing job -->
        <button class="btn btn-success w-100 mt-3" type="submit">Update</button>
    {% else %}
        <!-- This means the form is being used to create a new job -->
        <button class="btn btn-success w-100 mt-3" type="submit">Publish</button>
    {% endif %}
</form>
{% endblock content %}
