{% extends 'jobs/_base.html' %}
{% block content%}
<div class="row  p-3 mb-4 bg-body rounded ">
    <div >Featured####</div>
    <div class="col-md">Posted #### ago</div> 
    <div class="row ">
        <div class="d-flex justify-content-between ">
            <div class="text-start  col-8">{{job.title}}</div>
        </div>
        <div class="col-md-auto py-3 ">JOB description: {{job.description}}</div>
        <div class="col-md-auto py-3 ">Attachments </div>
        <div class="col-md-auto py-3 ">Budget: {{job.budget}} </div>
        <div class="col">TAGS####</div>            
    </div>

</div>


{% endblock content %}