{% extends 'jobs/_base.html' %}
{% block content%}
{% load icon %}

{% load humanize %}
<!-- <div class="row  p-3 mb-4 bg-body rounded ">
    <div >Featured####</div>
    <div class="col-md">Posted by {{ job.buyer.name}}</div> 
    <div class="row ">
        <div class="d-flex justify-content-between ">
            <div class="text-start  col-8">{{job.title}}</div>
        </div>
        <div class="col-md-auto py-3 ">JOB description: {{job.description}}</div>
        <div class="col-md-auto py-3 ">Attachments </div>
        <div class="col-md-auto py-3 ">Budget: {{job.budget}} </div>
        <div class="col">TAGS####</div>            
      
    </div>

</div> -->

<main>


    <!-- job post company Start -->
    <div class="job-post-company pt-5 pb-5">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="col-xl-7 col-lg-8">
                    <!-- job single -->
                    <div class="single-job-items mb-5">
                        <div class="job-items"> 
                            <div class="job-tittle">
                               
                                    <h4>Digital Marketer</h4>
                    
                                <ul>
                                    <li>Creative Agency</li>
                                    <li>{% icon "map-pin" %}</i>Athens, Greece</li>
                                    <li>$3500 - $4000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                      <!-- job single End -->
                   
                    <div class="job-post-details">
                        <div class="post-details1 mb-5">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Job Description</h4>
                            </div>
                            <p>{{job.description}}</p>
                        </div>
                        <div class="post-details2  mb-5">
                             <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Required Knowledge, Skills, and Abilities</h4>
                            </div>
                            <ul>
                                    <li>{{ job.requirement }}</li>
                                </ul>
                                
                        </div>

                    </div>

                </div>
                <!-- Right Content -->
                <div class="col-xl-4 col-lg-4">
                    <div class="post-details3  mb-5">
                        <!-- Small Section Tittle -->
                       <div class="small-section-tittle">
                           <h4>Job Overview</h4>
                       </div>
                      <ul>
                          <li>Posted date : <span>{{job.timestamp}}</span></li>
                          <li>Location : <span>{{job.buyer.location}}</span></li>
                          <li>Budget :  <span>Rs. {{job.budget}}</span></li>
                          <li>Application date : <span>12 Sep 2020</span></li>
                      </ul>
                     <div class="items-link apply-btn2">
                        <a href="{% url 'apply-job' code=job.code %}" class="btn">Apply Now</a>
                    </div>
                   </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- job post company End -->

</main>

{% endblock content %}