{% extends 'jobs/_base.html' %}
    {% block content %}
    <h1>My Posted Jobs</h1>
    <ul>
        <div class="container ">
        {% for job in jobs %}
            <li>
                {{ job.title }}  <br> Posted - {{ job.timestamp }}
                <a href="{% url 'job-delete' job.code %}">Delete</a><br>
                <a href="{% url 'job-update' job.code %}">update</a> <br>
                {{job.applyjob_set.all.count}} have Applied to this job.
                <br><br>
            </li>
        {% endfor %}
    </ul>
    </div>
    {% endblock content %}