{% extends 'jobs/_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-12 mb-4">
            <div class="border rounded p-3 shadow-sm">
                <div class="text-center mb-4">
                    <div style="width: 100px; height: 100px;" class="overflow-hidden rounded-circle mx-auto">
                        <img src="{{ user.profile_pic }}" alt="Profile Picture" class="img-fluid object-fit-cover">
                    </div>
                    <h5 class="mt-2">{{ user.name }}</h5>
                    <p class="text-muted">{{ user.role }}</p>
                    <h6 class="text-secondary">{{ user.email }}</h6>
                </div>
                <div>
                    <h5 class="text-center">About</h5>
                    {% if user.role == "Seller" %}
                    <p>{{ user.seller.bio }}</p>
                    {% elif user.role == "Buyer" %}
                    <p>{{ user.buyer.bio }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-12">
            <div class="border rounded p-4 shadow-sm">
                <h4 class="mb-4">Update Profile</h4>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-right mt-3">
                      {% if user.role == "Seller" %}
                      <a href="{% url 'seller-detail' user.seller.pk %}" class="btn btn-secondary">Cancel</a>
                      {% elif user.role == "Buyer" %}
                      <a href="{% url 'buyer-detail' user.buyer.pk %}" class="btn btn-secondary">Cancel</a>
                      {% endif %}
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
