    {% extends 'jobs/_base.html' %}

{% block content %}
    <h1 class="text-center pt-3"> User Details </h1>

    <div class="container d-flex justify-content-center align-items-center ">
        <div class=" card profile-card">
            <!-- Upper banner image -->
            <div class="upper">
                <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid" alt="Banner">
            </div>

            <!-- Seller's profile picture -->
            <div class="user text-center">
                <div class="profile">
                    {% if seller.profile_pic %}
                    <div style="width: 80px; height: 80px;" class="overflow-hidden m-auto rounded-circle"><img src="{{ seller.profile_pic.url }}" class="object-fit-cover w-100 " alt="{{ seller.name }}"></div>
                    {% else %}
                        <img src="https://via.placeholder.com/80" class="rounded-circle" width="80" alt="Default Profile">
                    {% endif %}
                </div>
            </div>

            <!-- Seller information -->
            <div class="mt-5 text-center">
                <h4 class="mb-0">{{ seller.name }}</h4>
                <span class="text-muted d-block">{{ seller.tagline }}</span>
                <span class="text-muted d-block mb-2">{{ seller.speciality }}</span>

               

                {% if seller.website %}
                    <p class="d-block mb-2">
                        <a href="{{ seller.website }}" target="_blank" alt="Seller's website">{{ seller.website }}</a>
                    </p>
                {% endif %}



                {% if user.seller.pk == seller.pk %}

                <a href="{% url 'seller_editprofile' user.seller.pk  %}" >

                    <button type="button" class="btn btn-success">Edit Seller Profile</button>
                </a>

                {% elif user.seller.pk != seller.pk %}
                    <a href="{% url 'chat_thread' seller.owner.pk %}"><button type="button" class="btn btn-success">Message</button></a>
                {% endif %}

                <!-- Stats section -->
                <div class="d-flex justify-content-between align-items-center mt-4 px-4">
                    <div class="stats">
                        <h6 class="mb-0">Total Bid Placed</h6>
                        <span> {{proposals.count}}</span>
                    </div>
                    <div class="stats">
                        <h6 class="mb-0">Completed Projects</h6>
                        <span>0</span>
                    </div>
                    <div class="stats">
                        <h6 class="mb-0">Total Earnings</h6>
                        <span>0</span>
                    </div>
                </div>

                <hr>

                <!-- Seller bio -->
                <span class="text-muted d-block mb-2" style="font-size: small;">{{ seller.bio }}</span>
                <p></p>
            </div>
        </div>
    </div>

{% endblock content %}
