{% extends 'jobs/_base.html' %}

{% block content %}
    <!-- {% if request.user.role %}
        {% for Seller in object_list %}
            <ul>
                <li>{{ Seller.name }}</li>
            </ul>
        {% endfor %}
        
    {% else %}   
        <div class="alert alert-danger">
            {{ user }}, your account type is not fixed. Please select the type of account you want <a href="{% url 'handle-login' %}">here</a>.
        </div>
    {% endif %} -->
    
<!-- 
    {% for Seller in object_list %}
            <ul>
                <li>{{ Seller.name }}</li>
            </ul>
        {% endfor %} -->
{% endblock content %}
