{% extends 'jobs/_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container ">
    <div class="row pt-5 ">
        <div class="col-md ">

        </div>
        <div class="col-md-auto px-5 pb-5 pt-4 border border-dark-subtle rounded-4 ">
            <div>
                <div class="text-center display-5 pb-4">Sign Up</div>
                <form action="" method="POST">
                    {% csrf_token %}
                   
                    {{ form|crispy}}
                    <button class="btn btn-outline-success w-100 mt-2" type="submit" value="Signup">Sign Up</button>
                </form>
            </div>
            <div class="text-center mt-4 fw-lighter">- Already have account? - </div>
                <a href="{% url 'account_login' %}">
                    <button class="btn btn-success w-100 mt-3" value="Login">Login</button>
                </a>
            <div>
        </div>
       
        </div>
        <div class="col-md">
            
        </div>
    </div>
</div>



{% endblock content%} 