.single-job-items {
    padding: 36px 30px;
    transition: .4s;
}

.single-job-items .job-tittle a {
    color: #198754;
    transition: .4s;
    overflow: hidden;
    text-decoration: none;
}

.single-job-items .job-tittle p {
    color: #808080;
    overflow:hidden;
}

.single-job-items  .job-tittle a:hover {
    color: #484848;
    
}

.single-job-items .job-tittle ul li {
    display: inline-block;
    margin-right: 48px;
    font-size: 15px;
    color: #808080;
    line-height: 1.8;
}

.single-job-items .job-tittle ul li:last-child {
    margin-right: 0;
}

.single-job-items .job-tittle ul li i {
    font-size: 15px;
    color: #bbbbbb;
    margin-right: 10px;
}

.single-job-items:hover {
    box-shadow: 0px 10px 25px 0px rgba(26, 58, 45, 0.099);
}

.items-link a {
    color: #198754;
    border: 1px solid #198754;
    border-radius: 30px;
    padding: 4px 33px;
    text-align: center;
    margin-bottom: 25px;
    float:right;
}


.items-link a:hover {
    color: #fff;
    background: #198754;
    border: 1px solid transparent;
}

.items-link span {
    color: #198754;
    display: block;
}

.job-category-listing  {
    padding: 2rem;
    display: block;
    border: solid #b1b1b1 1px;
}

.job-category-listing .single-listing  {
   padding-bottom: 30px;
}

.job-category-listing .single-listing .select-Categories .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    color: #666666;
    font-size: 16px;
    user-select: none;
}


.job-category-listing .single-listing .select-Categories .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.job-category-listing .single-listing .select-Categories .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: 1px solid #ddd;
}



.job-category-listing .single-listing .select-Categories .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.job-category-listing .single-listing .select-Categories .container input:checked ~ .checkmark:after {
    display: block;
}

.job-category-listing .single-listing .select-Categories .container .checkmark::after {
    left: 8px;
    top: 1px;
    width: 6px;
    height: 14px;
    border: solid #198754;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
} 

.pagination-area .page-item {
    margin: 0;
}

.pagination-area .page-link {
    border: 0;
    font-size: 15px;
    text-align: center;
    background: none;
    box-shadow: none;
    outline: 0;
    color: #777777;
    padding: 11px 12px;
    background: #fff;
    margin: 0 3px;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
}

.pagination-area .page-link:hover {
    color: #198754;
}

.pagination-area .page-item.active .page-link {
    z-index: 1;
    border: 0;
    position: relative;
    box-shadow: none;
    outline: 0;
    background: #198754;
    color: #fff;
}

